body {
    background-color: #0F008F;
    background-repeat: no-repeat;
}

/* Forside Hero Section */

#hero-section {
    background-image: url(../img/HeroBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    text-align: center;
    padding-top: 8%;
    z-index: 99;
}

.img-fluid {
    max-height: 350px;
}

#hero-text {
    text-align: center;
    color: white;
    
}

#hero-text h1 {
    font-size: 55px;
}

#hero-text p {
    font-size: 18px;
}

#hero-text a {
    margin-top: 2%;
}

/* Project Hero Section */

#HeroProjectSektion {
    height: 100vh;
}



/* Brand Section */

.brand-section {
    text-align: center;
    margin-top: 15%;
    color: white;
    min-height: 500px;
}

.brand-section img {
    margin-top: 2%;
    height: 150px;
    object-fit: contain;
}







  /* .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #000, #1D267D);
    opacity: 1;
    z-index: -1;
  }
   */
